parameters:
	ignoreErrors:
		-
			message: "#^Method TYPO3\\\\CMS\\\\Core\\\\Domain\\\\Page\\:\\:toArray\\(\\) invoked with 1 parameter, 0 required\\.$#"
			count: 1
			path: Classes/Transformer/PageTransformer.php
